body{
  background: #000077;
  background-size: cover;
  color: #eeeeee;
}
h1{
  text-align: center;
  font-size: 5em;
}
.center{
  text-align: center;
}
form{
  background: #dddddd;
  border: solid #eeeeee;
  width: 70%;
  margin-left: 15%;
  color: black;
}
